@import "tailwindcss";

@theme {
  --shadow-footer: 0px -5px 10px -4px rgb(0, 0, 0, 0.15);
  --breakpoint-tablet: 768px;
  --breakpoint-phone: 390px;
  --breakpoint-desktop: 1024px;
  --color-brand: #fe9256;
  --color-input: #f4f4f4;
  --color-gray: #ababab;
}
@layer base {
  html,
  body {
    @apply h-dvh w-dvw max-w-[1024px] mx-auto;
  }
  .scrollbar::-webkit-scrollbar {
    width: 13px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f4f4f4;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ababab;
    cursor: pointer;
  }
}
